# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/

# Environment
.env
.env.*
!.env.example
.venv/
# Logs
logs/

#result 
result_test/

# Node.js / Frontend
node_modules/
npm-debug.log
yarn-error.log

# IDE / Editors
.vscode/
.idea/
.cursor/
.qodo/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temporary / Backup
*.bak
*.swp
*.tmp

# Script cá nhân & Công cụ hỗ trợ
tools/

# Project Documentation
docs/

# Shortcuts
*.bat

# Firebase credentials
*firebase-service-account.json
firebase-service-account.json
backend/firebase-service-account.json
backend/app/firebase-service-account.json
frontend/js/firebaseConfig.js
frontend/js/supabaseConfig.js

# Documents
documents/