GEMINI_API_KEY_1=AIzaSyBgedN1yEagSCjdbSm80wc9VsskrvttM3E
GEMINI_API_KEY_2=AIzaSyBgedN1yEagSCjdbSm80wc9VsskrvttM3E
GEMINI_API_KEY_FOR_CHATBOT=AIzaSyBgedN1yEagSCjdbSm80wc9VsskrvttM3E
GEMINI_API_KEY_FOR_CHATBOT_RCM=AIzaSyBgedN1yEagSCjdbSm80wc9VsskrvttM3E
SERP_API_KEY=c10825c41a7856d3647c12f38025fe6718581484cc58339a62214a3c8f9f1d03
# Firebase Admin SDK Configuration
FIREBASE_CREDENTIALS_PATH=firebase-service-account.json

# VNPay Sandbox Configurations
VNPAY_TMN_CODE=YOUR_VNPAY_TMN_CODE
VNPAY_HASH_SECRET=YOUR_VNPAY_HASH_SECRET
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8000/api/payment/vnpay_return
VNPAY_FRONTEND_REDIRECT=http://localhost:3000/pricing.html